/* Webfont CSS setup for Steelflight by Caveras */

@font-face {
	font-family:'Steelflight';
		src:url('Steelflight.eot');
		src:url('Steelflight.eot?#iefix') format('embedded-opentype'),
				url('Steelflight.woff') format('woff'),
				url('Steelflight.ttf') format('truetype'),
				url('Steelflight.svg#Steelflight') format('svg');
	font-weight:normal;
	font-style:normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family:'Steelflight';
		src: url('Steelflight.svg') format('svg');
		font-weight:normal;
		font-style:normal;
	}
}